<section class="py-5 my-4 container home-about-us d-flex flex-wrap gap-4">
    <img src="./assets/images/aboutus.svg" alt="cosmetics">
    <div class="d-flex align-items-center">
<img src="assets/images/v-decorate.svg" alt="plant">
<div class="d-flex flex-column">
    <h2 class="font-regular font-md mt-0 mb-5">About Us</h2>
    <p class="mt-0 mb-4 font-xl line-100 font-bold">Your Journey to
        <br/>
 <span class="linear-text"> Effortless Elegance</span></p>
      <p class="mt-0 font-sm secondary line-100 mb-4 pb-2">
          Lorem Ipsum has been the industry's standard
          <br>
           dummy text ever since the
          1500s, when an 
          <br>
           unknown printer took a galley
        </p>
            <button class="btn linear-back linear-btn font-sm d-flex align-items-center justify-content-between ps-4 pe-3">
        <span class="text-white">See more</span>
        <img src="./assets/images/arrow-right.svg" alt="arrow">
    </button>
</div>
<img src="assets/images/v-decorate.svg" alt="plant">
    </div>
</section>