.hint {
  color: #00000059;
}

.submit-form {
  width: 281px;
  height: 65px;
  &:hover {
    background-color: #fcd5ce4f;
    color: black !important;
  }
}

.forgot {
  text-decoration: underline;
}

.pass-btn {
  position: relative;
  top: -52px;
  right: 25px;
  height: 0;
}

::ng-deep .pass-btn .mdc-icon-button__ripple{
  display: none;
}