<section class="password-management">
  <form
    [formGroup]="updatePasswordForm"
    (ngSubmit)="onSubmit()"
    class="review-form"
  >
    <div class="mb-4 w-100">
      <label class="d-block font-md mb-3">Password *</label>
      <div class="w-100">
        <input
          formControlName="password"
          placeholder="Enter your password"
          class="form-control rounded-5 custom-input font-md"
          required
        />
        @if(updatePasswordForm.get('password')?.hasError('required') &&
        (updatePasswordForm.get('password')?.dirty ||
        updatePasswordForm.get('password')?.touched)){
        <p class="text-danger">password is required</p>
        }
      </div>
      <p class="my-0 forgot font-md d-flex justify-content-end mt-3">Forgot Password?</p>
    </div>
      <div class="mb-4 w-100">
      <label class="d-block font-md mb-3">New Password *</label>
      <div class="w-100">
        <input
          formControlName="newPassword"
          placeholder="Enter your new Password"
          class="form-control rounded-5 custom-input font-md"
          required
        />
        @if(updatePasswordForm.get('newPassword')?.hasError('required') &&
        (updatePasswordForm.get('newPassword')?.dirty ||
        updatePasswordForm.get('newPassword')?.touched)){
        <p class="text-danger">New Password is required</p>
        }
      </div>
    </div>
      <div class="mb-4 w-100">
      <label class="d-block font-md mb-3">Confirm Password *</label>
      <div class="w-100">
        <input
          formControlName="confirmPassword"
          placeholder="Confirm your password"
          class="form-control rounded-5 custom-input font-md"
          required
        />
        @if(updatePasswordForm.get('confirmPassword')?.hasError('required') &&
        (updatePasswordForm.get('confirmPassword')?.dirty ||
        updatePasswordForm.get('confirmPassword')?.touched)){
        <p class="text-danger">Confirm Password is required</p>
        }
        @if(updatePasswordForm.hasError('passwordMismatch') && !updatePasswordForm.get('confirmPassword')?.hasError('required')){
          <p class="text-danger">Passwords do not match</p>
        }


      </div>
    </div>

    <button
      class="primary-bg btn font-md submit-form w-fit rounded-pill single-shadow px-3 mt-3"
      [class]="
        updatePasswordForm.invalid
          ? 'text-secondary border border-secondary'
          : 'text-white'
      "
      type="submit"
      [disabled]="!updatePasswordForm.valid"
    >
      Update Password
    </button>
  </form>
</section>
