<section class="contact-us">
     <app-header [title]="'Contact Us'" />
     <div class="container mt-5 pt-3">
        <div class="row">
            <div class="col-md-6">
 <form
    [formGroup]="contactUsForm"
    (ngSubmit)="onSubmit()"
    class="review-form"
  >


    <div class="d-flex flex-wrap flex-md-nowrap gap-4">
      <div class="mb-4 w-100">
        <label class="d-block font-md mb-3">First Name *</label>
        <div class="w-100">
          <input
            formControlName="firstName"
            placeholder="First Name"
            class="form-control rounded-5 custom-input font-md"
            required
          />
          @if(contactUsForm.get('firstName')?.hasError('required') &&
          (contactUsForm.get('firstName')?.dirty ||
          contactUsForm.get('firstName')?.touched)){
          <p class="text-danger">First Name is required</p>
          }
        </div>
      </div>
      <div class="mb-4 w-100">
        <label class="d-block font-md mb-3">Last Name *</label>
        <div class="w-100">
          <input
            formControlName="lastName"
            placeholder="Last Name"
            class="form-control rounded-5 custom-input font-md"
            required
          />
          @if(contactUsForm.get('lastName')?.hasError('required') &&
          (contactUsForm.get('lastName')?.dirty ||
          contactUsForm.get('lastName')?.touched)){
          <p class="text-danger">Last Name is required</p>
          }
        </div>
      </div>
    </div>
     <div class="d-flex flex-wrap flex-md-nowrap gap-4">
         <div class="mb-4 w-100">
           <label class="d-block font-md mb-3">Email *</label>
           <div class="w-100">
             <input
               formControlName="email"
               placeholder="Enter Your Email"
               class="form-control rounded-5 custom-input font-md"
               required
             />
             @if(contactUsForm.get('email')?.hasError('required') &&
             (contactUsForm.get('email')?.dirty ||
             contactUsForm.get('email')?.touched)){
             <p class="text-danger">Email is required</p>
             } @if(contactUsForm.get('email')?.hasError('email') &&
             (contactUsForm.get('email')?.dirty ||
             contactUsForm.get('email')?.touched)){
             <p class="text-danger">Incorrect email format</p>
             }
           </div>
         </div>
      <div class="mb-4 w-100">
      <label class="d-block font-md mb-3">Phone *</label>
      <div class="w-100">
        <input
          type="number"
          formControlName="phone"
          placeholder="Enter Phone Number"
          class="form-control rounded-5 custom-input font-md"
          required
        />
        @if(contactUsForm.get('phone')?.hasError('required') &&
        (contactUsForm.get('phone')?.dirty ||
        contactUsForm.get('phone')?.touched)){
        <p class="text-danger">Phone is required</p>
        }
      </div>
    </div>
         
     </div>
   <div class="mb-4 w-100">
           <label class="d-block font-md mb-3">Subject *</label>
           <div class="w-100">
             <input
               formControlName="subject"
               placeholder="Enter here....."
               class="form-control rounded-5 custom-input font-md"
               required
             />
             @if(contactUsForm.get('subject')?.hasError('required') &&
             (contactUsForm.get('subject')?.dirty ||
             contactUsForm.get('subject')?.touched)){
             <p class="text-danger">Subject is required</p>
             }
           </div>
         </div>
  <div class="mb-4">
     <label class="d-block font-md mb-3 ">Your Message *</label>
     <div  class="w-100">
       <textarea class="form-control rounded-5 custom-input font-md" placeholder="Enter here....."  formControlName="message" rows="7" required></textarea>
      @if(contactUsForm.get('details')?.hasError('required') && 
     (contactUsForm.get('details')?.dirty || contactUsForm.get('details')?.touched)){
        <p class="text-danger">
          Review details are required
        </p>
      }
     </div>
   </div>
    <button
      class="primary-bg btn font-md submit-form w-fit rounded-pill single-shadow px-4 mt-3"
      [class]="
        contactUsForm.invalid
          ? 'text-secondary border border-secondary'
          : 'text-white'
      "
      type="submit"
      [disabled]="!contactUsForm.valid"
    >
      Send a Message
    </button>
  </form>
            </div>
            <div class="col-md-6">
                <div class="contact-img single-shadow mx-auto">
<img class="w-100" src="./assets/images/contactus.png" alt="product">
                </div>
            </div>
        </div>
     </div>
</section>