.home-followus{
    background-color: #E5E5E5;
}

.upper-img{
    margin-bottom: 55px;
}

.upper-img, .lower-img{
    border-radius: 27px;
}

.middle-img{
    border-radius: 51px;
}

.w-77{
    width: 77.5% !important;
}