<section class="home-followus d-flex flex-column align-items-center pt-4 pb-5">
    <div class="d-flex align-items-center mt-2 container justify-content-center mb-5 pb-3">
        <img src="assets/images/v-decorate.svg" alt="plant">
        <div class="d-flex flex-column align-items-center">
    <h2 class="font-regular font-md mt-0 mb-5">Follow Us</h2>
           <p class="mt-0 mb-4 font-xl line-76 font-bold text-center">Follow Us On
        <br/>
 <span class="linear-text  line-100">Instgram</span></p>
</div>
</div>
<div class="container mb-4 pb-2">
    <div class="row gy-5">
        <div class="col-lg-2 col-md-6">
            <div class="d-flex align-items-center flex-column">
                <img src="./assets/images/follow-sm.svg" class="w-100 upper-img custom-shadow" alt="follow">
                <img src="./assets/images/follow-sm.svg" class="w-100 lower-img custom-shadow" alt="follow">
            </div>
        </div>
         <div class="col-lg-2 col-md-6"> 
            <div class="d-flex align-items-center flex-column">
                <img src="./assets/images/follow-sm.svg" class="w-100 upper-img custom-shadow" alt="follow">
                <img src="./assets/images/follow-sm.svg" class="w-100 lower-img custom-shadow" alt="follow">
            </div>
        </div>   <div class="col-lg-4 ">
            <div class="d-flex justify-content-center">
                <img src="./assets/images/follow-big.svg" class="w-77 trio-shadow middle-img" alt="follow">
            </div>
        </div>
           <div class="col-lg-2 col-md-6">
            <div class="d-flex align-items-center flex-column">
                <img src="./assets/images/follow-sm.svg" class="w-100 upper-img custom-shadow" alt="follow">
                <img src="./assets/images/follow-sm.svg" class="w-100 lower-img custom-shadow" alt="follow">
            </div>
        </div>
           <div class="col-lg-2 col-md-6">
            <div class="d-flex align-items-center flex-column">
                <img src="./assets/images/follow-sm.svg" class="w-100 upper-img custom-shadow " alt="follow">
                <img src="./assets/images/follow-sm.svg" class="w-100 lower-img custom-shadow" alt="follow">
            </div>
        </div>
    </div>
</div>
</section>