<section
  class="py-5 my-4 container home-testimonial d-flex flex-column align-items-center"
>
  <div class="d-flex align-items-center mt-2">
    <img src="assets/images/v-decorate.svg" alt="plant" />
    <div class="d-flex flex-column align-items-center">
      <h2 class="font-regular font-md mt-0 mb-5">Testimonials</h2>
      <p class="mt-0 mb-4 font-xl line-76 font-bold">
        Testimonials from
        <br />
        <span class="linear-text line-100">Our Loyal Customers</span>
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center w-100">
    <owl-carousel-o [options]="customOptions" class="w-100">
      <ng-template carouselSlide>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            src="assets/images/carousel.png"
            class="img-carousel trio-shadow rounded-circle mb-5"
            alt="person"
          />
          <p class="mt-2 mb-5 font-md text-center tretiary line-100">
             Lorem Ipsum has been the industry's standard dummy text ever since
            the
            <br />
            1500s, when an unknown printer took a galley of type and scrambled
            it to
            <br />
            make a type specimen book.
          </p>
          <div class="d-flex align-items-center gap-2 mb-4">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            5.0
          </div>
          <p class="mt-0">Marina Adel</p>
          <p class="my-0">Happy Customer</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            src="assets/images/carousel.png"
            class="img-carousel trio-shadow rounded-circle mb-5"
            alt="person"
          />
          <p class="mt-2 mb-5 font-md text-center tretiary line-100">
             Lorem Ipsum has been the industry's standard dummy text ever since
            the
            <br />
            1500s, when an unknown printer took a galley of type and scrambled
            it to
            <br />
            make a type specimen book.
          </p>
          <div class="d-flex align-items-center gap-2 mb-4">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            3.5
          </div>
          <p class="mt-0">Marina Adel</p>
          <p class="my-0">Happy Customer</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            src="assets/images/carousel.png"
            class="img-carousel trio-shadow rounded-circle mb-5"
            alt="person"
          />
          <p class="mt-2 mb-5 font-md text-center tretiary line-100">
             Lorem Ipsum has been the industry's standard dummy text ever since
            the
            <br />
            1500s, when an unknown printer took a galley of type and scrambled
            it to
            <br />
            make a type specimen book.
          </p>
          <div class="d-flex align-items-center gap-2 mb-4">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            4.0
          </div>
          <p class="mt-0">Marina Adel</p>
          <p class="my-0">Happy Customer</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            src="assets/images/carousel.png"
            class="img-carousel trio-shadow rounded-circle mb-5"
            alt="person"
          />
          <p class="mt-2 mb-5 font-md text-center tretiary line-100">
             Lorem Ipsum has been the industry's standard dummy text ever since
            the
            <br />
            1500s, when an unknown printer took a galley of type and scrambled
            it to
            <br />
            make a type specimen book.
          </p>
          <div class="d-flex align-items-center gap-2 mb-4">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            5.0
          </div>
          <p class="mt-0">Marina Adel</p>
          <p class="my-0">Happy Customer</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            src="assets/images/carousel.png"
            class="img-carousel trio-shadow rounded-circle mb-5"
            alt="person"
          />
          <p class="mt-2 mb-5 font-md text-center tretiary line-100">
             Lorem Ipsum has been the industry's standard dummy text ever since
            the
            <br />
            1500s, when an unknown printer took a galley of type and scrambled
            it to
            <br />
            make a type specimen book.
          </p>
          <div class="d-flex align-items-center gap-2 mb-4">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            4.5
          </div>
          <p class="mt-0">Marina Adel</p>
          <p class="my-0">Happy Customer</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            src="assets/images/carousel.png"
            class="img-carousel trio-shadow rounded-circle mb-5"
            alt="person"
          />
          <p class="mt-2 mb-5 font-md text-center tretiary line-100">
             Lorem Ipsum has been the industry's standard dummy text ever since
            the
            <br />
            1500s, when an unknown printer took a galley of type and scrambled
            it to
            <br />
            make a type specimen book.
          </p>
          <div class="d-flex align-items-center gap-2 mb-4">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            4.0
          </div>
          <p class="mt-0">Marina Adel</p>
          <p class="my-0">Happy Customer</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            src="assets/images/carousel.png"
            class="img-carousel trio-shadow rounded-circle mb-5"
            alt="person"
          />
          <p class="mt-2 mb-5 font-md text-center tretiary line-100">
             Lorem Ipsum has been the industry's standard dummy text ever since
            the
            <br />
            1500s, when an unknown printer took a galley of type and scrambled
            it to
            <br />
            make a type specimen book.
          </p>
          <div class="d-flex align-items-center gap-2 mb-4">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            6.0
          </div>
          <p class="mt-0">Marina Adel</p>
          <p class="my-0">Happy Customer</p>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
