<section class="about-us">
  <div class="d-flex justify-content-center align-items-center header-holder">
    <h1 class="my-0 font-xxl font-bold text-white">About US</h1>
  </div>
  <div class="mt-5 pt-3 container">
    <h3 class="mt-0 mb-2 font-xl font-bold">About the Brand</h3>
    <div class="d-flex align-items-center ">
      <img
        src="assets/images/v-decorate.svg"
        class="d-md-block d-none"
        alt="plant"
      />
      <div class="d-flex flex-column tretiary">
        <div class="d-flex font-md flex-wrap gap-2">
          <div>
            <p class="mb-4 mt-5">
              Lorem Ipsum has been the industry's standard dummy <br />
              text ever since the 1500s, when an unknown printer <br />
              took a galley
            </p>
            <p class="mt-0 mb-5">
              Lorem Ipsum has been the industry's standard dummy text <br />
              ever since the 1500s, when an unknown printer took a galley
            </p>
          </div>
         <div class="about-img-wrapper rounded-circle"> <img class="w-100" src="./assets/images/about1.png" alt="product" /></div>
        </div>
        <div class="d-flex font-md flex-wrap gap-2">
          <div>
            <p class="mt-0 mb-5">
              Lorem Ipsum has been the industry's standard dummy text ever since
              <br />
              the 1500s, when an unknown printer took a galley
            </p>
            <p class="my-0">
              Lorem Ipsum has been the industry's standard dummy text ever since
              the 1500s, <br />
              when an unknown printer took a galley
            </p>
          </div>
                  <div class="about-img-wrapper lower-about-img rounded-circle">  <img class="w-100" src="./assets/images/about2.png" alt="product" /></div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center my-5 py-3"><img src="./assets/images/h-decorate.svg" alt="decorate"></div>
   <h3 class="mt-0 mb-2 font-xl font-bold">About the Products</h3>
    <div class="d-flex align-items-center ">
      <img
        src="assets/images/v-decorate.svg"
        class="d-md-block d-none"
        alt="plant"
      />
      <div class="d-flex flex-column tretiary">
        <div class="d-flex font-md flex-wrap gap-2">
          <div>
            <p class="mb-4 mt-5">
              Lorem Ipsum has been the industry's standard dummy <br />
              text ever since the 1500s, when an unknown printer <br />
              took a galley
            </p>
            <p class="mt-0 mb-5">
              Lorem Ipsum has been the industry's standard dummy text <br />
              ever since the 1500s, when an unknown printer took a galley
            </p>
          </div>
         <div class="about-img-wrapper rounded-circle"> <img class="w-100" src="./assets/images/about1.png" alt="product" /></div>
        </div>
        <div class="d-flex font-md flex-wrap gap-2">
          <div>
            <p class="mt-0 mb-5">
              Lorem Ipsum has been the industry's standard dummy text ever since
              <br />
              the 1500s, when an unknown printer took a galley
            </p>
            <p class="my-0">
              Lorem Ipsum has been the industry's standard dummy text ever since
              the 1500s, <br />
              when an unknown printer took a galley
            </p>
          </div>
                  <div class="about-img-wrapper lower-about-img rounded-circle">  <img class="w-100" src="./assets/images/about2.png" alt="product" /></div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center my-5 pt-3"><img src="./assets/images/h-decorate.svg" alt="decorate"></div>

</div>
</section>
