<nav class="navbar navbar-expand-lg bg-white">
  <div class="container d-flex justify-content-between">
    <div>
      <a class="navbar-brand d-flex align-items-center gap-3">
        <img src="./assets/images/logo-img.svg" alt="logo" />
        <img src="./assets/images/logo.svg" alt="logo" />
      </a>
    </div>
<div>
  <button class="navbar-toggler" type="button" 
          data-bs-toggle="collapse" data-bs-target="#navbarContent" 
          aria-controls="navbarContent" aria-expanded="false" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <div class="d-flex flex-column flex-lg-row gap-4 align-items-center links-wrapper w-100">
      <div class="d-flex flex-column flex-lg-row gap-4">
        <a routerLink="/home" routerLinkActive="active" class="nav-link cursor-pointer">Home</a>
        <a routerLink="/shop" routerLinkActive="active" class="nav-link cursor-pointer">Shop</a>
        <a routerLink="/about" routerLinkActive="active" class="nav-link cursor-pointer">About Us</a>
      </div>

      <form class="d-flex my-2 my-lg-0" role="search">
        <mat-form-field appearance="outline" class="search-field">
          <input matInput placeholder="Search" aria-label="Search" />
          <button mat-icon-button matSuffix type="submit" aria-label="Search">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <div class="d-flex gap-3 align-items-center ">
        <a class="cursor-pointer" routerLink="/shop" routerLinkActive="active">
          <img src="./assets/images/nav/bag.svg" alt="bag">
        </a>
        <a class="cursor-pointer" routerLink="/cart" routerLinkActive="active">
          <img src="./assets/images/nav/bell.svg" alt="bell">
        </a>
        <a class="cursor-pointer" routerLink="/favourites" routerLinkActive="active">
          <img src="./assets/images/nav/heart.svg" alt="heart">
        </a>
        <a class="cursor-pointer" routerLink="/profile" routerLinkActive="active">
          <img src="./assets/images/nav/person.svg" alt="person">
        </a>
      </div>
    </div>
  </div>
</div>
  </div>
</nav>