<section class="home-categories d-flex flex-column align-items-center pt-4">

    <div class="d-flex align-items-center mt-2">
        <img src="assets/images/v-decorate.svg" class="plant" alt="plant">
        <div class="d-flex flex-column align-items-center">
    <h2 class="font-regular font-md mt-0 mb-5">Our Categories</h2>
    <p class="mt-0 mb-4 font-xl line-100 font-bold">Shop By Category</p>
</div>
</div>
<div class="d-flex flex-wrap gap-6 categories-list">
    <div>
       <img src="./assets/images/category.svg" class="trio-shadow rounded-circle" alt="category">
       <p class=" mt-4 mb-0 font-md text-center">Body Care</p> 
    </div>
    <div>
       <img src="./assets/images/category.svg" class="trio-shadow rounded-circle" alt="category">
       <p class=" mt-4 mb-0 font-md text-center">Hair Care</p> 
    </div>
    <div>
       <img src="./assets/images/category.svg" class="trio-shadow rounded-circle" alt="category">
       <p class=" mt-4 mb-0 font-md text-center">Lips</p> 
    </div>
    <div>
       <img src="./assets/images/category.svg" class="trio-shadow rounded-circle" alt="category">
       <p class=" mt-4 mb-0 font-md text-center">Nail Care</p> 
    </div>
    <div>
       <img src="./assets/images/category.svg" class="trio-shadow rounded-circle" alt="category">
       <p class=" mt-4 mb-0 font-md text-center">Face</p> 
    </div>
</div>
</section>