@use "@angular/material" as mat;
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
:root {
  --primary-color: #94626F;
  --secondary-color: #4343438A ;
  --tretiary-color: #000000B5;
  --gray-text: #00000069;
  --dark-gray-text: #848484;
  --semi-white-color: #FFFFFF8A;
  --placeholder-text:  #00000059;
  --red-text: #D10000;
  --linear-back: linear-gradient(90deg, #000000 0%, #666666 100%);
  --linear-text: linear-gradient(90deg, #FF8FAB 0%, #995667 100%);
  --single-shadow: 0px 4px 4px 0px #00000040;
  --custom-shadow:  0px 4px 4px 0px #00000040, 0px 4px 4px 0px #00000040;
  --trio-shadow:  0px 4px 4px 0px #00000040, 0px 4px 4px 0px #00000040, 0px 4px 4px 0px #00000040;
  --gray-border: 1px solid #A5A2A269;
}

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #000;
}

.primary{
  color: var(--primary-color);
}

.primary-bg{
  background-color: var(--primary-color);
}


.secondary{
  color: var(--secondary-color);
}

.tretiary{
  color: var(--tretiary-color);
}

.gray-text{
  color: var(--gray-text);
}

.dark-gray{
  color: var(--dark-gray-text);
}

.placeholder-text{
  color: var(--placeholder-text);
}

.red-text{
  color: var(--red-text);
}

.semi-trans{
  color: var(--semi-white-color);
}

.single-shadow{
  box-shadow: var(--single-shadow);
}

.custom-shadow{
  box-shadow: var(--custom-shadow);
}

.trio-shadow{
  box-shadow: var(--trio-shadow);
}

.linear-back{
  background: var(--linear-back);
}

.gray-border{
 border: var(--gray-border);
}

.linear-text{
  background: var(--linear-text);
   -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Makes the text take gradient */
  color: transparent; 
}

.cursor-pointer {
  cursor: pointer;
}

.font-bold {
  font-weight: 700;
} 

.font-regular{
  font-weight: 400;
}

.font-sm {
  font-size: 20px;
}

.font-md {
  font-size: 24px;
}

.font-lg {
  font-size: 32px;
}

.font-xl {
  font-size: 36px;
}

.font-xxl {
  font-size: 48px;
}

.line-76{
  line-height: 45px;
}

.line-100{
  line-height: 100%;
}

.linear-btn{
  border-radius: 23px;
  width: 251px;
  height: 67px;
}

.gap-6{
  gap: 66px;
}

.owl-theme .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.owl-theme .owl-nav [class*=owl-]{
  border-radius: 50%;
  background-color: #000;
  color: white;
  width: 57px;
  height: 57px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, select, option{
  height: 60px;
  font-size: 24px;
}
select.form-select{
  font-size: 24px;
}

.custom-input::placeholder {
  color: var(--placeholder-text);
  font-size: 24px;
  opacity: 1; 
}

.w-fit{
  width: fit-content;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}