.home-header{
    background: 
    url('/assets/images/half-header.png') left center / 35% 100% no-repeat,
    url('/assets/images/full-girl.png') right center / 65% 100% no-repeat;
    height: 651px;
}

.head-content{
    margin-inline-start: 13rem;
}