<section class="home-header d-flex flex-column justify-content-center">
  <div class="head-content">
    <h1 class="font-xxl font-regular mb-4">
      Your Ultimate <span class="text-white"> Beauty </span>
      <br />
      <span class="text-white"> & Cosmetics Hub</span>
    </h1>
    <p class="mt-0 font-sm semi-trans line-100 mb-4 pb-2">
      Lorem Ipsum has been the industry's standard
      <br>
       dummy text ever since the
      1500s, when an 
      <br>
       unknown printer took a galley
    </p>
    <button (click)="toShop()" class="btn linear-back linear-btn font-sm d-flex align-items-center justify-content-between ps-4 pe-3">
        <span class="text-white">Shop Now</span>
        <img src="./assets/images/arrow-right.svg" alt="arrow">
    </button>
  </div>
</section>
